*{
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    overflow: hidden;
    max-width: 1440px;
    margin: 0;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 2rem;  
    font-weight: 900;
    gap: 3rem;
}
.navbar-container img{
    height: 2rem;
}
.list{
    display: flex;
    justify-content: space-between;
    align-items:center;
    font-family: 'poppins', sans-serif;
    font-size: 1rem;
    color: rgb(193, 192, 192);
    font-weight: 700;
    gap: 2.8rem;
    list-style: none;
}
.list-item:nth-child(1){
    font-size: 1.3rem;
    color: black;
    font-weight: 900;
    }

.button-group{
    display: flex;
    align-items:flex-end;
    margin-right: 10px;
    gap:1rem;
}
.nav-button{
    background-color: rgb(99, 5, 166);
    border: none ;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 15px;
    margin-left: 20px;
    cursor: pointer;
}

.banner-container{
    gap: 7rem;
    margin: 4rem;
    position: relative;
    justify-content: space-between;
    display: flex;

}
.banner-container .heading-text {
    width: 20rem;
    color: darkslategrey;
    font-weight: 700;
    text-align: left;
    font-size: 2.5rem;
    margin-left: 2rem;
    margin-top: 4rem;
    font-family: Arial, Helvetica, sans-serif;
}
.heading-text span{
    color: rgb(109, 28, 184);
}
.banner-container .description{
    width: 25rem;
    color: rgb(134, 133, 133);
    font-weight: 500;
    font-size: 1rem;
    text-align: left;
    margin-left: 2rem;
    font-family:'poppins', sans-serif;

}

.banner-container img{
  height: 500px;
}
