*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(44, 44, 44, 0.932);
}
.container{
    overflow: hidden;
    max-width: 100%;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
    gap: 40px;
    
}
.navbar img{
    height: 2rem;
}